<!DOCTYPE html>
<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <title> {{title}} </title>

</head>

<div style="text-align: center">
    <form>
        <button type="submit" formaction="/">Przerwij grę</button>
    </form>
    <h1></h1>
    <canvas id="gameBoard" width={{boardWidth}} height={{boardHeight}};>
        Your browser does not support the HTML5 canvas tag.</canvas>
</div>
<body>

        
    <script>
    var constMul = {{mul}};
    var board = document.getElementById("gameBoard");
    var ctx = board.getContext("2d");
    (function worker() {
    $.ajax({
        url         : "http://localhost:8080/gameData", //wymagane, gdzie się łączymy
        dataType    : 'json', //typ danych jakich oczekujemy w odpowiedzi
        success: function(data)
        {
            for (var i = 0; i < data.length; i++ )
            {
                for (var j = 0; j < data.length; j++ )
                {
                    var label = data[i][j];
                    if(label==1) ctx.fillStyle = "white";
                    else ctx.fillStyle = "black";
                    ctx.fillRect(constMul*i,constMul*j,constMul,constMul);
                }
            }
            $( "button" ).click(function() {
            $( "div.first" ).slideUp( 300 ).delay( 800 ).fadeIn( 400 );
            $( "div.second" ).slideUp( 300 ).fadeIn( 400 );
            });
        },
        complete: function()
        {
            setTimeout(worker, 5);
        }
    });
    })();
    </script>
</body>
</html>